body {
    margin: 50px 10% 0px 10%;
    font-family: Roboto,sans-serif;
}
hr.gt-style { 
    border: 5px solid #EAAA00;
}
div.content-wrapper{
    border-top: 5px solid #EAAA00;
    border-bottom: 5px solid #EAAA00;
}
