body {
    margin: 50px 10% 0px 10%;
    font-family: Roboto,sans-serif;
}
hr.gt-style { 
    border: 5px solid #EAAA00;
}
div:before {
    content: "<hr style='border: 5px solid#EAAA00;'>"
}
div:after {
    content: "<hr style='border: 5px solid#EAAA00;'>"
}
